@font-face {
  $font-name: "#{$font-family-custom}-Regular";
  font-family: $font-family-custom;
  src: local("#{$font-family-custom}-Regular"),
    url("#{$font-path}/#{$font-name}.woff2") format("woff2"),
    url("#{$font-path}/#{$font-name}.woff") format("woff");
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  $font-name: "#{$font-family-custom}-Medium";
  font-family: $font-family-custom;
  src: local("#{$font-family-custom}-Medium"),
    url("#{$font-path}/#{$font-name}.woff2") format("woff2"),
    url("#{$font-path}/#{$font-name}.woff") format("woff");
  font-weight: $font-weight-medium;
  font-style: normal;
}
