* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: $font-family;
  font-size: 100%;
  color: $dark-color-text;
  background-color: $main-bg-color;
}

body {
  font-size: rem($font-size-base);
}

img {
  max-width: 100%;

  &:not([class]) {
    width: 100%;
    height: rem(224px);

    margin: rem(10px) 0;

    &:last-child {
      margin-bottom: 0;
    }

    @media #{$screen-laptop} {
      height: rem(434px);
    }
  }
}

h1 {
  @include huge-title;
  margin: 0;

  &:not([class]) {
    margin-bottom: rem(40px);
  }
}

h2 {
  @include large-title;
  margin: 0;

  &:not([class]) {
    margin: rem(10px) 0;
  }
}

h3 {
  @include medium-title;
  margin: 0;

  &:not([class]) {
    margin-top: rem(40px);
    margin-bottom: rem(10px);
  }
}

p {
  margin: 0;

  &:not([class]) {
    margin: rem(10px) 0;

    font-size: rem($font-size-tiny);
    line-height: rem(23px);

    @media #{$screen-laptop} {
      font-size: rem($font-size-base);
      line-height: rem(27px);
    }
  }
}

span:not([class]) {
  margin-bottom: rem(10px);

  font-size: rem($font-size-base);
  line-height: rem(25px);
  color: $grey-color-text;
}

ul,
ol {
  @include list-reset;

  &:not([class]) {
    margin-bottom: rem(10px);
    padding-left: rem(20px);

    font-size: rem($font-size-tiny);
    line-height: rem(16px);

    @media #{$screen-laptop} {
      padding: 0 rem(20px);

      font-size: rem($font-size-base);
      line-height: rem(19px);
    }
  }
}

ol:not([class]) {
  counter-reset: item;

  li {
    display: block;
    &:before {
      content: counters(item, ".") " ";
      counter-increment: item;
      color: red;

      margin-right: rem(10px);
    }
  }
}

li:not([class]) {
  &:not(:last-child) {
    margin-bottom: rem(10px);
  }

  & > ol,
  & > ul {
    margin-top: rem(13px);
    margin-left: rem(-15px);
    padding-left: 0;

    @media #{$screen-laptop} {
      margin-left: 0;
      padding-left: rem(25px);
    }

    @media #{$screen-desktop} {
      padding-left: rem(50px);
    }
  }
}

ul:not([class]) {
  list-style-type: none;

  li {
    position: relative;
    display: block;

    padding-left: rem(15px);
    &::before {
      position: absolute;
      left: 0;
      top: rem(8px);

      content: "";

      display: block;
      width: rem(5px);
      height: rem(5px);

      background-color: red;
      border-radius: 50%;
    }
  }
}

a {
  text-decoration: none;

  &:not([class]) {
    color: $curious-blue;
    @include blue-link-interaction;
  }
}

blockquote {
  margin: 0;

  &:not([class]) {
    margin-bottom: rem(10px);
  }
}

blockquote p:not([class]) {
  margin: 0;
  padding: rem(20px) rem(25px);
  padding-right: 0;

  border-left: rem(5px) solid $cerise-red;
  border-radius: rem(5px);

  background-color: $alabaster;

  @media #{$screen-laptop} {
    padding-right: rem(25px);
  }
}
