//colors
$white: #fff;
$deep-orange: #d64d00;
$doughnut: #f2a156;
$dark-ink: #121212;
$blanche: #ededff;
$iris: #5c59d4;
$pixel-white: #dbdbdb;
$white-smoke: #f5f5f5;
$flowerbed: #ffebd8;
$gray: #505050;
$coronation: #ececec;

//fonts
$font-family-rubik: "Rubik";
$font-family-opensans: "Open Sans";
$font-family-inter: "Inter";

$font-weight-semiBold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

//brealpoints
$screen-laptop: "(max-width: 1100px)";
$screen-mobile: "(max-width: 780px)";

//layouts
$container-width: 1920px;
$container-gap: 6.6vw;

//sizes
$icon-medium: 24px;
$icon-regular: 20px;
$icon-small: 12px;
$icon-tiny: 8px;

$gallery-pic-desktop: 330px;
$gallery-pic-mobile: 126px;

$hero-pic-desktop: 300px;
$hero-pic-mobile: 160px;

$product-width-desktop: 300px;
$product-width-mobile: 155px;

$category-width-desktop: 400px;
$category-height-desktop: 180px;
$category-width-mobile: 320px;
$category-height-mobile: 150px;

$logo-width-desktop: 130px;
$logo-height-desktop: 30px;
$logo-width-mobile: 100px;
$logo-height-mobile: 23px;

//transitions
$transition-regular: 0.125s;
$transition-medium: 0.25s;
