@import "../../assets/scss/_variables.scss";

.tabs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media #{$screen-mobile} {
    gap: 25px;
  }
}

.btns {
  display: flex;
  justify-content: center;
  gap: 25px;

  @media #{$screen-mobile} {
    gap: 11px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  @media #{$screen-mobile} {
    gap: 9px;
  }
}

.btn {
  padding: 12px 24px;
  gap: 10px;

  font-family: $font-family-inter;
  font-size: 20px;
  font-weight: $font-weight-medium;
  line-height: 28px;

  @media #{$screen-laptop} {
    padding: 10px 18px;
  }

  @media #{$screen-mobile} {
    padding: 5px 10px;
    gap: 6px;

    font-size: 9px;
    line-height: 13px;
  }
}

.icon {
  width: $icon-medium;
  height: $icon-medium;

  @media #{$screen-mobile} {
    width: $icon-small;
    height: $icon-small;
  }
}
