@import "../../assets/scss/_variables.scss";

.gallery {
  padding: 112px 0;

  @media #{$screen-mobile} {
    padding: 42px 0;
  }
}

.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 112px;

  @media #{$screen-mobile} {
    margin-bottom: 42px;
  }
}

.tabs {
  margin-top: 40px;

  @media #{$screen-mobile} {
    margin-top: 25px;
  }
}

.pic {
  display: block;
  height: $gallery-pic-desktop;

  @media #{$screen-mobile} {
    height: $gallery-pic-mobile;
  }
}

.img {
  height: 100%;
}
