/**
* Colors
*/
$bunker: #121920;
$white: #ffffff;
$slate-gray: #768298;
$heather: #bbc4d6;
$wild-blue-yonder: #6680ae;
$athens-gray: #ebebf1;
$curious-blue: #34aadd;
$tapestry: #a7507b;
$cerise-red: #dc2c53;
$carnation: #f95a59;
$red-orange: #ff3332;
$alabaster: #fafafa;
$iced-lavender: #c0c8db;
$goldenrod: #dc971f;
$magenta-red: #9d5783;
$gainsboro: #d9d9d9;
$in-the-dark: #3a3a43;

$dark-color-text: $bunker;
$grey-color-text: $slate-gray;
$light-color-text: $white;
$main-bg-color: $alabaster;
$main-btn-color: $curious-blue;
$error-color: $carnation;
$input-required-color: $red-orange;
$selected-checkbox-radio: $curious-blue;
$disabled-color: $athens-gray;
$input-focus-border-color: $slate-gray;
$placeholder-color: $heather;
$list-markers-color: $cerise-red;
$text-links-color: $curious-blue;
$menu-links-color: $bunker;
$burger-menu-color: $curious-blue;
$active-border-color: $cerise-red;
/**
* Fonts
*/
$font-path: "public/fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Roboto";
$font-family: $font-family-custom, $font-family-default;

$font-size-base: 16px;
$font-size-huge: 36px;
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-tiny: 14px;
$font-size-miniture: 12px;

$line-height-huge: 47px;
$line-height-large: 38px;
$line-height-medium: 29px;
$line-height-regular: 26px;
$line-height-tiny: 24px;
$line-height-miniture: 14px;

$font-weight-regular: 400;
$font-weight-medium: 500;

/**
* Breakpoints
*/
$screen-desktop: "(min-width: 1280px)";
$screen-laptop: "(min-width: 768px)";

/**
* Layout
*/
$container-width: 1240px;
$gap-container: 20px;
/**
* Sizes
*/

$sidebar-width: 286px;
$sidebar-gap-vertical: 21px;
$sidebar-gap-horizontal: 30px;

$header-height-desktop: 80px;
$header-height-mobile: 104px;

$footer-height-desktop: 102px;
$footer-height-mobile: 294px;

$content-wrapper-gap: 32px;

$announcement-card-width: 286px;
$announcement-card-height: 150px;

$input-width-huge: 835px;
$input-width-big: 702px;
$input-width-medium: 370px;
$input-width-regular: 335px;

$input-height-medium: 50px;
$input-height-small: 40px;
$input-height-big: 100px;

$checkbox-width: 20px;
$checkbox-height: 20px;

$radio-width: 20px;
$radio-height: 20px;

$logo-width-regular: 135px;
$logo-width-small: 93px;
$logo-height-regular: 30px;
$logo-height-small: 26px;
$logo-height-tiny: 18px;

$icon-width-tiny: 10px;
$icon-width-small: 12px;
$icon-width-regular: 16px;
$icon-width-meduim: 24px;
$icon-width-big: 40px;

$icon-height-tiny: 10px;
$icon-height-small: 12px;
$icon-height-regular: 16px;
$icon-height-meduim: 24px;
$icon-height-big: 40px;

$header-avatar-width: 40px;
$header-avatar-height: 40px;

$header-col-gutter: 40px;
$header-row-gutter: 16px;

$cards-gap-medium: 30px;
$cards-gap-small: 20px;

/**
* Transitions and Animations
*/
$transition-duration: 0.1s;
$transition-duration-medium: 0.2s;
$transition-function: ease-in-out;

/**
* Radius
*/
$small-radius: 3px;
$medium-radius: 5px;
$big-radius: 8px;
$tiny-radius: 2px;
/**
* Box-shadows
*/
$double-shadow: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.03))
  drop-shadow(0px 3px 10px rgba(164, 164, 164, 0.03));
$hover-shadow: 0px 0px 10px 0px rgba(164, 164, 164, 0.03),
  -3px 0px 40px 0px rgba(0, 0, 0, 0.1);
$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
$tooltip-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
$modal-shadow: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.16));
/**
* Z-indexes
*/
$z-index-header: 50;
$z-index-sidebar: 60;
$z-index-slide-active: 20;
$z-index-slider-btns: 10;
