@import "../../assets/scss/_variables.scss";

.container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-family-rubik;

  overflow: hidden;
  animation: menuToggle $transition-medium ease-in-out;
  z-index: 10;

  @media #{$screen-laptop} {
    display: none;
  }
}

.containerOpen {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column-reverse;

  width: 270px;
  height: 100vh;

  padding: 30px;
  padding-top: 70px;

  background-color: $white-smoke;
  transform: translateX(0);

  @media #{$screen-mobile} {
    width: 220px;
    padding: 20px;
    padding-top: 70px;
  }
}

.nav {
  display: flex;

  gap: 52px;

  font-size: 20px;
  line-height: 28px;

  @media #{$screen-laptop} {
    flex-direction: column;
    gap: 30px;
  }

  @media #{$screen-mobile} {
    gap: 20px;

    font-size: 14px;
    line-height: 24px;
  }
}

.btns {
  display: flex;

  gap: 15px;

  @media #{$screen-laptop} {
    margin-bottom: 40px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 30px;
  }
}

.btn {
  position: relative;

  display: none !important;
  flex-direction: column;
  justify-content: space-between;

  width: $icon-regular;
  height: $icon-regular;

  margin-left: auto;

  z-index: 20;

  @media #{$screen-laptop} {
    display: flex !important;
  }

  @media #{$screen-mobile} {
    width: $icon-small;
    height: $icon-small;
  }
}

.btn::before {
  position: absolute;
  content: "";

  height: 30px;
  width: 30px;

  top: -5px;
  left: -5px;

  @media #{$screen-mobile} {
    top: -9px;
    left: -9px;
  }
}

.btn:hover .line {
  background-color: $deep-orange;
}

.btnOpen .line {
  &:first-child {
    transform: translateY(9px) rotate(45deg);

    @media #{$screen-mobile} {
      transform: translateY(5px) rotate(45deg);
    }
  }

  &:nth-child(2) {
    display: none;
  }

  &:last-child {
    transform: translateY(-9px) rotate(-45deg);

    @media #{$screen-mobile} {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}

.line {
  width: 100%;
  height: 2px;

  background-color: $dark-ink;
  transition: color $transition-regular ease-in-out,
    transform $transition-regular ease-in-out;

  &:nth-child(2) {
    width: 80%;
    margin-left: auto;
  }
}

@keyframes menuToggle {
  from {
    opacity: 0.5;
    transform: translateX(270px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
