@import "../../assets/scss/_variables.scss";

.section {
  padding-top: 90px;
  padding-bottom: 112px;

  @media #{$screen-mobile} {
    padding: 42px 0;
  }
}

.form {
  display: flex;
  justify-content: center;

  margin: 80px;

  @media #{$screen-mobile} {
    margin: 45px 0;
  }
}

.formGroup {
  width: fit-content;

  @media #{$screen-mobile} {
    max-width: 100%;
    width: 400px;
  }
}

.control {
  width: 670px;
  height: 80px;

  @media #{$screen-mobile} {
    height: 45px;
    width: 100%;
  }
}

.btn {
  font-family: $font-family-rubik;
  font-size: 22px;

  font-weight: $font-weight-medium;
  line-height: 30px;

  @media #{$screen-mobile} {
    font-size: 12px;
    line-height: 16px;
  }
}

.slider {
  width: 100vw;

  margin-bottom: 80px;
  margin-left: calc(-50vw + 50%);

  @media #{$screen-mobile} {
    margin-bottom: 45px;
  }
}

.img {
  height: $hero-pic-desktop;

  @media #{$screen-mobile} {
    height: $hero-pic-mobile;
  }
}

.brands {
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;

  @media #{$screen-mobile} {
    &:last-child {
      display: none;
    }
  }
}

.brandImg {
  @media #{$screen-laptop} {
    transform: scale(0.85);
  }
}
