@mixin btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@mixin social-btn-interaction {
  svg g path {
    transition: fill 0.1s ease-in-out;
  }

  &:hover svg g path {
    fill: $blue-btn;
  }
  &:focus-visible svg g path {
    fill: $light-blue-btn;
  }
  &:active svg g path {
    fill: $active-color;
  }
}
