$grid-gap: 30px;
$main-color: #fff;
$dark-text: #121723;
$blue-btn: #6d31ee;
$active-color: #4f28a5;
$grey-text: #a1a6b4;
$light-blue-btn: #aa9dfa;
$gold: #f0d288;
$light-grey: #d2d5dd;
$dark-gold: #bb973e;
$dark-grey-bg: #292e39;
$error-color: #d52b1e;
