.about-us {
  padding: 94px 0;
  background-color: $dark-text;
  color: $grey-text;
  overflow: hidden;

  .container {
    background-image: url(../img/Spiral.png), url(../img/about-us/Dawn.png);
    background-repeat: no-repeat;
    background-position: 765px top, 90% 23px;
  }

  &__title {
    margin-bottom: 12px;
    color: $main-color;
  }

  &__descr {
    max-width: 635px;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 32px;

    span {
      display: block;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 30px;

    &-wrapper {
      width: 100%;
      overflow: hidden;
    }

    &-content {
      display: flex;
      transform: translateX(0);
      transition: transform 0.15s ease-in-out;
    }

    &-next,
    &-prev {
      position: absolute;
      top: 102px;
      width: 48px;
      height: 48px;
      cursor: pointer;

      svg {
        fill: transparent;
        transition: fill 0.1s ease-in-out;

        & > * {
          transition: stroke 0.1s ease-in-out;
        }
      }

      &:hover svg > * {
        stroke: $light-blue-btn;
      }

      &:active svg {
        fill: $light-blue-btn;
      }

      &:active svg path {
        stroke: $main-color;
      }
      &:active svg circle {
        stroke: $light-blue-btn;
      }
    }

    &-prev {
      left: -78px;
    }

    &-next {
      right: -78px;
    }
  }

  &__slide {
    flex-shrink: 0;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &-img {
      width: 100%;
      height: 255px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: $main-color;
    }

    &-descr {
      font-size: 16px;
      line-height: 24px;
      color: $grey-text;
    }
  }

  &__error-label {
    position: relative;
    color: $error-color;
    font-size: 12px;
    line-height: 12px;

    span {
      position: absolute;
      top: -20px;
      left: 32px;
    }

    &--hidden {
      display: none;
    }
  }

  &__form {
    max-width: 920px;

    & > .form-input {
      display: inline-block;
      padding-left: 32px;
    }

    & > input {
      position: relative;
      width: calc(50% - 17px);
      height: 70px;
      margin-bottom: 30px;
      border-radius: 35px;
    }

    &-input--invalid {
      border-color: $error-color !important;
    }

    textarea {
      width: 100%;
      height: 150px;
      padding-top: 30px;
      margin-bottom: 25px;
      border-radius: 30px;
      resize: none;
    }

    input:nth-of-type(1) {
      margin-right: 30px;
    }
  }

  &__btn {
    @include btn-reset;
    display: block;
    width: 212px;
    height: 70px;
    margin-bottom: 32px;
    border-radius: 40px;
    font-size: 20px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;

    input {
      display: none;
    }
  }

  &__checkmark {
    position: relative;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    outline: 1px solid $main-color;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: calc(50% - 3.5px);
      left: calc(50% - 2px);
      width: 4px;
      height: 7px;
      border-right: 2px solid $light-blue-btn;
      border-bottom: 2px solid $light-blue-btn;
      transform: rotate(45deg);
    }

    input:checked ~ &::after {
      display: block;
    }
  }
}
