.brodcast {
  padding: 93px 0;

  &__info {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  &__title {
    margin-bottom: 12px;
    color: $dark-text;
  }

  &__author {
    &-title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: $grey-text;
    }

    &-select {
      position: relative;
      width: 255px;
      font-size: 16px;
      line-height: 16px;
    }

    select {
      display: none;
    }

    &-selected-option {
      position: inherit;
      width: 100%;
      border: none;
      border-radius: 10px;
      color: $dark-text;
      background: #e6e8ec;
      z-index: 100;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 16px;
        left: 220px;
        top: 12px;
        background-image: url(../img/svg/sprite.svg#select-arrow);
        background-repeat: no-repeat;
        transition: transform 0.1s ease-in-out;
      }
    }

    &-select--open &-selected-option {
      &::after {
        content: "";
        transform: rotate(180deg);
      }
    }

    &-option {
      padding: 12px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }

    &-dropdown {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      padding-top: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid $light-grey;
      color: $grey-text;
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
      z-index: 10;
      transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;

      .brodcast__author-option {
        background-color: $main-color;
        &:not(:first-child) {
          border-top: 1px solid $light-grey;
        }
        &:hover {
          background-color: #f5f6f7;
        }

        &:focus-visible {
          background-color: $light-blue-btn;
        }

        &:active {
          background-color: #e6e8ec;
        }

        &:hover,
        &:focus-visible,
        &:active {
          color: $dark-text;
        }
      }
    }
    &-dropdown--hidden {
      visibility: hidden;
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  &__archive {
    position: relative;
    margin-top: auto;
    order: 5;

    &::before {
      content: "";
      position: absolute;
      width: 65px;
      height: 89px;
      top: -113px;
      left: 0;
      background-image: url(../img/brodcast/mic.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-btn {
      @include btn-reset;
      margin-bottom: 11px;
    }

    &-descr {
      color: $grey-text;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__cards {
    order: 2;
  }

  &__card {
    &:nth-child(-n + 5) {
      margin-top: 15px;
    }

    &:has(.brodcast__card-link:focus-visible) {
      outline: 1px $blue-btn solid;
      outline-offset: 7px;
    }

    &-img {
      width: 100%;
      height: 148px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      padding: 18px 16px;
      border: 1px solid #e6e8ec;
      border-top: none;
    }

    &-title {
      margin-bottom: 4px;
      color: $dark-text;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    &-descr {
      margin-bottom: 20px;
      color: $grey-text;
      font-size: 12px;
      line-height: 12px;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      color: $dark-text;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-decoration: none;
      transition: color 0.1s ease-in-out, background-color 0.1s ease-out;

      svg {
        fill: #121723;
        transition: fill 0.1s ease-in-out;
      }

      &:hover {
        color: $blue-btn;

        svg {
          fill: $blue-btn;
        }
      }
      &:focus-visible {
        color: $main-color;
        background-color: $light-blue-btn;
        svg {
          fill: $main-color;
        }
      }
      &:active {
        color: $active-color;

        svg {
          fill: $active-color;
        }
      }
    }
  }
}
$step: 5;
@for $i from 2 to 9 {
  @if $i <= $step {
    .brodcast__card:nth-child(#{$i}) {
      order: #{$i - 1};
    }
  } @else {
    .brodcast__card:nth-child(#{$i}) {
      order: #{$i};
    }
  }
}
