@media (max-width: 1300px) {
  .about-us {
    &__slide {
      width: calc((100% - 60px) / 3);
    }
    .container {
      background-image: url(../img/about-us/Dawn.png);
      background-position: 790px 30px;
    }
  }
  .brodcast {
    padding-bottom: 95px;
    &__author {
      margin-bottom: 0;
    }

    &__archive {
      order: 4;

      &-descr {
        line-height: 23px;
      }

      &-btn {
        margin-bottom: 11px;
      }
    }

    &__card {
      &-info {
        padding: 20px 14px;
        padding-bottom: 16px;
      }

      &:nth-child(7) {
        grid-column: 3 /5;
      }
      &:nth-child(-n + 5) {
        margin-top: 0;
      }

      &:nth-child(-n + 4) {
        padding-top: 14px;
      }
    }
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .guests {
    padding: 94px 0;
    &__title {
      margin-bottom: 11px;
    }

    &__descr {
      max-width: 536px;

      span {
        margin-bottom: 7px;
      }
    }

    &__category-list {
      columns: 3;
    }

    &__category-item {
      margin-bottom: 14px;
    }

    &__category-accordion[data-open="true"] ~ .guests__category-people {
      padding-bottom: 15px;
    }

    &__person-img {
      height: 158px;
    }

    &__person-socials {
      margin-bottom: 7px;
    }
  }
  .header {
    padding: 0;
    &__top-row {
      flex-wrap: wrap;
      margin-bottom: 18px;
    }

    &__logo-wrapper {
      width: 100vw;
      margin: 0 calc((100vw - 100%) / -2);
      margin-bottom: 18px;
      padding: 23px 0;
      padding-left: 100px;
      background-color: $light-grey;
    }

    &__logo {
      width: 112px;
      height: 14px;
    }

    &__top-nav {
      margin: 0;
    }

    &__top-item {
      &:not(:last-child) {
        margin-right: 59px;
      }
    }

    &__form {
      margin-left: auto;
      margin-right: 24px;
    }

    &__bottom-row {
      height: 60px;
    }

    &__bottom-nav {
      margin-right: auto;
    }

    &__bottom-item:not(:last-of-type) {
      margin-right: 28px;
    }

    &__air {
      width: 150px;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      padding-left: 42px;
    }

    &__age-restriction {
      display: none;
    }

    &__input--open {
      transform: translateX(-250px);
      width: 250px;
    }
  }
  .playlists {
    padding-bottom: 89px;
    &__genres {
      margin-bottom: 0;
      &-title {
        margin-bottom: 10px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 166px;
        width: 500px;
        column-gap: 30px;
        row-gap: 20px;
      }

      &-item:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__artists {
      padding: 0;
    }

    &__card {
      display: flex;

      &-country {
        right: auto;
        left: 0;
      }

      &-img {
        width: 112px;
        height: 112px;
      }

      &-info {
        padding: 39px 8px;
        flex-grow: 1;
      }

      &-play-btn {
        top: 33px;
        left: 33px;
      }
    }

    &__warning {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 1110px) {
  .about-us {
    &__descr {
      max-width: 539px;
      span {
        line-height: 30px;
      }
    }

    &__slider {
      margin-bottom: 36px;
    }

    &__slide {
      width: calc((100% - 30px) / 2);
    }
    .container {
      background-position: 670px 50px;
    }

    &__slider-prev {
      left: -68px;
    }

    &__slider-next {
      right: -68px;
    }

    &__form > .form-input {
      margin-bottom: 31px;
    }

    &__btn {
      margin-bottom: 31px;
    }
  }
  .advertisement {
    padding-top: 95px;
    padding-bottom: 91px;
    &__img {
      height: 349px;
      margin-top: 123px;
      &::before {
        width: 100px;
        height: 100px;
        top: -6px;
      }
    }
    &__title {
      margin-bottom: 50px;
      line-height: 47px;
    }
  }
  .footer {
    padding-top: 93px;

    &__socials-link:not(:last-child) {
      margin-right: 21px;
    }

    &__content:after {
      bottom: -15px;
      transform: scale(2);
    }
  }
  .hero {
    padding: 90px 0;
    background-size: 256px 262px;
    background-position: 87% center;

    &__title {
      margin-bottom: 16px;
    }

    &__content {
      max-width: 540px;
    }

    &__desr {
      margin-bottom: 20px;
    }
  }
  .podcast {
    padding-top: 95px;
    padding-bottom: 91px;

    &__title {
      margin-bottom: 30px;
    }

    &__grid {
      margin-bottom: 59px;
    }
  }
}

@media (max-width: 1023px) {
  .about-us {
    .container {
      background: none;
    }

    &__descr {
      position: relative;
      max-width: 100%;
      padding-bottom: 142px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + (100vw - 100%) / 2);
        height: 112px;
        bottom: 0;
        left: calc((100vw - 100%) / -2);
        background-image: url(../img/about-us/horizontal_Spiral.png),
          url(../img/about-us/Dawn.png);
        background-repeat: no-repeat;
        background-position: left center, right center;
        background-size: calc(100% - 200px + (100vw - 100%) / 2) 100%,
          112px 112px;
      }
    }

    &__form input:nth-of-type(1) {
      margin-right: 0;
    }

    &__form > .form-input {
      width: 100%;
      margin-bottom: 30px;
      font-size: 20px;
    }

    &__slider {
      margin-bottom: 30px;
    }
  }
  .advertisement {
    padding-top: 55px;
    &__img {
      width: 540px;
      height: 474px;
      margin: 0 auto;

      &::before {
        width: 160px;
        height: 160px;
        top: -1px;
      }
    }
    &__info {
      padding-top: 21px;
    }

    &__title {
      max-width: 484px;
      margin-bottom: 49px;

      &::after {
        width: calc(100vw - 228px);
        bottom: -30px;
      }
    }

    &__slider {
      margin-bottom: 30px;
    }

    &__form > input {
      margin-bottom: 30px;
    }
  }
  .brodcast {
    padding-top: 95px;
    padding-bottom: 30px;
    &__archive {
      margin-top: 31px;
      padding-left: 35%;
      padding-top: 29px;
      order: 9;

      &::before {
        left: calc(35% - 90px);
        top: 31px;
        width: 70px;
        height: 96px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-50vw + 50%);
        width: 100vw;
        height: 1px;
        background-color: #e6e8ec;
      }

      &-descr {
        max-width: 255px;
        color: $grey-text;
        font-size: 16px;
        line-height: 24px;
      }

      &-btn {
        margin-bottom: 6px;
      }
    }

    &__card:nth-child(7) {
      grid-column: 1/3;
    }

    &__card {
      &:nth-child(-n + 4) {
        padding-top: 15px;
      }
    }
  }
  .container {
    padding: 0 114px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .guests {
    padding-bottom: 91px;
    &__category-item {
      margin-bottom: 28px;

      &:nth-child(5n) {
        margin-bottom: 0;
      }
    }

    &__category-accordion[data-open="true"] ~ &__category-people {
      padding-bottom: 29px;
    }

    &__person {
      padding-top: 20px;

      &-img {
        height: 220px;
      }

      &-descr {
        max-width: 412px;
      }
    }
  }
  .header {
    overflow: visible;
    &__top-nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 160px 114px;
      background-color: $light-grey;
      background-image: url(../img/Spiral.png), url(../img/Spiral.png);
      background-size: 112px 314px;
      background-repeat: no-repeat;
      background-position: 65% 85px, 90% top;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out;
    }

    &__logo-wrapper {
      padding-left: 114px;
    }

    &__top-list {
      gap: 38px;
    }

    &__top-item:not(:last-child) {
      margin-right: 0;
    }

    &__burger-container {
      position: relative;
      display: flex;
      align-items: center;
      height: 24px;
      width: 24px;
      z-index: 1000;
      cursor: pointer;
    }

    &__burger {
      position: relative;

      &,
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: $blue-btn;
        transition: transform 0.2s ease-in-out;
      }

      &::before {
        top: -11px;
        transform-origin: 0% 0%;
      }

      &::after {
        top: 10px;
        transform-origin: 0% 100%;
      }
    }

    #open-burger:checked ~ &__top-nav {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }

    #open-burger:checked ~ &__burger-container &__burger {
      height: 0;

      &::before {
        transform: rotate(45deg) translateY(2px);
      }

      &::after {
        transform: rotate(-45deg) translateY(-3px);
      }
    }

    &__top-list {
      display: inline-block;
      columns: 2;
      margin: auto 0;
    }

    &__top-item {
      margin: 0;

      &:not(:last-child),
      &:not(:nth-child(2)) {
        margin-bottom: 64px;
      }
    }

    &__bottom-nav {
      flex-grow: 1;
      margin-right: 0;
    }

    &__bottom-list {
      justify-content: space-between;
    }

    &__bottom-item:not(:last-of-type) {
      margin: 0;
    }

    &__air {
      display: none;
    }

    &__play-all {
      display: block;
      margin-left: 24px;
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    background: none;
  }
  .login {
    &__window {
      padding: 60px 40px;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    padding-top: 94px;
    &__content {
      display: block;
      padding-bottom: 80px;
    }

    &__logo-wrapper {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 74px;
    }

    &__nav {
      width: 100%;
      height: 108px;
    }

    &__list {
      align-content: space-between;
      row-gap: 30px;
      column-gap: 0;
    }

    &__socials-link {
      width: 36px;
      height: 36px;
    }

    &__socials-link:not(:last-child) {
      margin-right: 24px;
    }

    &__content:after {
      background-size: cover;
      transform: scale(1.1) translateX(-10px);
      bottom: -12px;
    }
  }
}

@media (max-width: 770px) {
  .hero {
    &__content {
      max-width: 100%;
    }
  }
  .playlists {
    &__genres-list {
      height: 207px;
      row-gap: 34px;
    }

    &__card {
      &:nth-child(-n + 2) {
        margin-top: 21px;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 60px;
  }
  .header {
    &__top-nav {
      padding: 160px 60px;
    }
  }
}

@media (max-width: 650px) {
  .about-us {
    &__descr {
      padding: 0;
      &::after {
        display: none;
      }
    }
    &__slider-arrows {
      display: none;
    }
  }
  .advertisement {
    &__img {
      width: 100%;
      height: 100%;
      margin: 0;
      &:before {
        height: auto;
        width: 24%;
        aspect-ratio: 1 /1;
      }
    }

    &__title {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .brodcast {
    &__card:nth-child(7) {
      grid-column: auto;
    }
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .guests {
    padding: 54px 0;

    &__title {
      margin-bottom: 11px;
    }

    &__descr {
      max-width: 100%;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;

      span {
        margin-bottom: 0px;
      }
    }

    &__category {
      &-list {
        columns: 2;
        gap: 35%;
      }

      &-title {
        font-size: 16px;
        line-height: 16px;
      }

      &-person {
        text-align: left;
        font-size: 14px;
      }

      &-accordion {
        padding: 17.5px 0;
      }

      &-btn {
        width: 30px;
        height: 30px;
        top: 12px;
      }

      &-accordion[data-open="true"] ~ &-people {
        padding: 19px 45px 19px 0;
      }

      &-item:nth-child(5n) {
        margin-bottom: 28px;
      }
    }
    &__person {
      padding: 0;

      &-img {
        height: 159px;
      }

      &-icon {
        width: 36px;
        height: 36px;
      }

      &-icon:not(:last-child) {
        margin-right: 21px;
      }

      &-link {
        width: 150px;
        padding: 9px 0;
      }
    }
  }
  .playlists {
    padding-top: 54px;
    padding-bottom: 49px;

    &__title {
      margin-bottom: 19px;
    }

    &__genres {
      overflow: hidden;
      &-title {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 12px;
      }

      &-list {
        height: auto;
        width: auto;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        row-gap: 0;
        column-gap: 15px;
        transition: transform 0.15s ease-in-out;
      }

      &-item {
        flex-shrink: 0;
      }

      &-label {
        padding: 9px 19px;
        height: auto;
        font-size: 16px;
        line-height: 16px;
        color: $blue-btn;
        border: 1px solid $blue-btn;
        border-radius: 77px;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

        &--active {
          color: $main-color;
          background-color: $blue-btn;
        }
      }

      &-marker {
        display: none;
      }
    }
    &__artists {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card {
      flex-direction: column;
      &-country {
        left: auto;
        right: 0;
      }

      &-img {
        width: 100%;
        height: 112px;
      }
      &-info {
        padding: 10px 9px;
      }

      &:nth-child(-n + 3) {
        margin-top: 21px;
      }
      &-play-btn {
        left: calc(50% - 24px);
        top: 28%;
      }
    }

    &__warning--mobile {
      margin-top: 0;
      padding-top: 29px;
    }

    &__warning-text {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 32px;
  }
  .section-title {
    font-size: 24px;
    line-height: 24px;
  }
  .header {
    &__logo-wrapper {
      padding: 19px 0 25px 32px;
      margin-bottom: 13px;
    }

    &__logo {
      width: 87px;
      height: 10px;
    }

    &__top-row {
      position: relative;
      margin-bottom: 13px;
    }

    &__bottom-row {
      height: auto;
      padding: 13px 0;
    }

    &__login-btn {
      position: absolute;
      top: 9px;
      right: 0;
      padding: 6px 0;
      width: 87px;
    }

    &__form {
      margin-right: 0;
    }

    &__play-all {
      display: none;
    }

    &__bottom-nav {
      position: absolute;
      top: calc(50vh - 104px);
      left: -32px;
      width: 100vw;
      height: 50vh;
      padding: 30px 32px;
      background-color: $main-color;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      z-index: 10;
      transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out;
      &--open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__bottom-list {
      flex-direction: column;
      flex-wrap: wrap;
      height: 138px;
      max-width: 100%;
    }

    &__bottom-item {
      margin-bottom: 30px;
    }

    &__bottom-item:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &__top-nav {
      height: 50vh;
      left: -32px;
      padding: 120px 32px 24px;
      background-image: none;
    }

    &__top-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      height: 140px;
      max-width: 100%;
      gap: 0;
    }

    &__top-item:not(:last-child) {
      margin-bottom: 40px;
    }

    &__top-item:nth-child(3),
    &__top-item:last-child {
      margin-bottom: 0;
    }

    &__air-menu {
      position: absolute;
      top: 50px;
      left: calc(50% - 150px);
      padding-bottom: 6px;
      opacity: 0;
      transform: translateY(-40px);
      background-color: $main-color;
      visibility: hidden;
      z-index: 1000;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

      &--open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__air {
      display: flex;
      padding-left: 35px;
      border-right: none;

      &:first-of-type {
        border-left: none;
        border-right: 1px solid #e6e6e6;
      }

      &-title {
        font-size: 14px;
        line-height: 14px;
      }

      &-descr {
        font-size: 10px;
        line-height: 10px;
      }
    }

    &__play-btn {
      position: static;
      margin-bottom: 6px;
    }

    &__air-menu-btn {
      display: flex;
    }
  }
  .hero {
    padding: 41px 0;

    &__title {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    &__desr {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 21px;
    }

    &__link {
      font-size: 16px;
      padding: 15px 45px;
    }
  }
  .login {
    padding: 0 32px;
    &__window {
      margin-top: calc(50vh - 308px);
      padding: 40px 20px;
    }
  }
}

@media (max-width: 550px) {
  .footer {
    padding-top: 0;

    &__content {
      padding-bottom: 20px;
      margin-bottom: 11px;

      &::after {
        bottom: 0px;
        transform: scale(1) translateX(0px);
      }
    }

    &__logo-wrapper {
      padding-top: 54px;
      padding-bottom: 48px;
      margin-bottom: 0;
    }

    &__nav {
      width: 100vw;
      height: 215px;
      margin: 0;
      margin-left: -32px;
      padding: 30px 32px 0 32px;
      background-color: $dark-text;
    }

    &__credits,
    &__list {
      font-size: 12px;
      line-height: 12px;
    }

    &__list {
      row-gap: 24px;
      padding-right: 65px;
    }
  }
}

@media (max-width: 530px) {
  .playlists {
    &__card {
      &-artist {
        font-size: 12px;
        line-height: 12px;
      }
      &-songs {
        font-size: 9px;
        line-height: 9px;
      }
    }
  }
}

@media (max-width: 500px) {
  .about-us {
    padding: 54px 0;
    &__title {
      margin-bottom: 11px;
    }

    &__descr {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 31px;

      span {
        margin-bottom: 4px;
        line-height: 21px;
      }
    }

    &__slider-content {
      overflow: visible;
    }

    &__slide {
      width: calc(50% - 15px);
      margin-right: 20px;
    }

    &__slide-img {
      height: 113px;
      margin-bottom: 12px;
    }

    &__slide-title {
      max-width: 100px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 18px;
    }

    &__slide-descr {
      font-size: 12px;
      line-height: 16px;
    }

    &__form > input {
      height: 50px;
    }

    &__form > .form-input {
      padding-left: 24px;
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        margin-bottom: 25px;
      }
    }

    &__form > textarea {
      padding-top: 16px;
      border-radius: 20px;
    }

    &__btn {
      height: 49px;
      width: 174px;
      margin-bottom: 22px;
      font-size: 16px;
    }

    &__checkbox {
      font-size: 9px;
      line-height: 9px;
    }
  }
  .advertisement {
    padding-bottom: 54px;
    &__info {
      padding: 0;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 24px;

      &:after {
        bottom: -22px;
        width: calc(100vw - 64px);
      }
    }

    &__descr {
      font-size: 14px;
      line-height: 22px;

      &:last-of-type {
        margin-bottom: 12px;
      }
    }

    &__price {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &__link {
      font-size: 16px;
      line-height: 16px;
      padding: 13px 0;
    }
  }
  .brodcast {
    padding-top: 54px;
    padding-bottom: 16px;
    &__title {
      margin-bottom: 20px;
    }

    &__grid {
      grid-template-rows: min-content;
      grid-auto-rows: 1fr;
    }

    &__author-title {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 6px;
    }

    &__card {
      height: 100%;
      display: flex;
      flex-direction: column;

      &:nth-child(-n + 4) {
        padding-top: 0px;
      }

      &-img {
        height: 50px;
      }

      &-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px 9px;
      }
      &-link {
        margin-top: auto;
      }
    }

    &__archive {
      display: flex;
      flex-flow: column-reverse;
      margin-top: 0px;
      padding-bottom: 13px;
      padding-top: 0;

      &-btn {
        margin-bottom: 0;
        padding: 8px 0;
        width: 111px;
      }

      &-descr {
        margin-bottom: 7px;
      }
    }
  }
  .podcast {
    padding: 54px 0;

    &__grid {
      margin-bottom: 31px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__card {
      flex-direction: column;

      &-info {
        padding: 16px;
        margin-bottom: 6px;
      }

      &-name {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 5px;
      }

      &-data {
        top: 0;
        left: 0;
        bottom: auto;
      }

      &-author {
        font-size: 12px;
        line-height: 12px;
      }

      &-btn {
        width: 36px;
        height: 36px;
        right: 16px;
        top: 25px;
      }

      &-stats {
        padding: 0 0 7px 32px;
        font-size: 12px;
      }

      &-stat:not(:last-child) {
        margin-right: 30px;
      }

      &-stat {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }

      &-img {
        width: 100%;
        height: 72px;

        img {
          object-fit: fill;
        }
      }
      &:nth-child(n + 5) {
        display: none;
      }
    }
    &__btn {
      font-size: 16px;
      padding: 14px 29px;
    }
  }
}

@media (max-width: 460px) {
  .playlists {
    &__artists {
      grid-template-columns: inherit;
    }
    &__card {
      &:nth-child(-n + 3) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .brodcast {
    &__card {
      &-title {
        font-size: 12px;
        line-height: 12px;
      }

      &-descr {
        font-size: 9px;
        line-height: 9px;
      }

      &-link {
        font-size: 12px;
        line-height: 12px;
      }
    }

    &__archive {
      &::before {
        width: 77px;
        height: 105px;
      }
      &-descr {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .header__input--open {
    transform: translateX(-180px);
    width: 180px;
  }
  .login {
    &__window {
      margin-top: calc(50vh - 230px);
    }

    &__window-close {
      height: 28px;
      width: 28px;
    }

    &__title {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 24px;
    }

    &__sign-up {
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &__form {
      margin-bottom: 10px;
    }

    &__form-input {
      height: 40px;
      max-width: 526px;
      padding: 12px 18px;
    }

    &__form-btn-submit {
      font-size: 16px;
      height: 40px;
      margin-bottom: 42px;
      padding: 12px 56px;
      width: 160px;
    }

    &__login-with {
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__login-methods {
      justify-content: space-between;
    }

    &__method:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (min-width: 320px) {
  .col-sm {
    grid-column: span 1;
  }

  .col-2-sm {
    grid-column: span 2;
  }
}

@media (min-width: 651px) {
  .col-2-md {
    grid-column: span 2;
  }

  .col-3-md {
    grid-column: span 3;
  }

  .col-4-md {
    grid-column: span 4;
  }

  .col-5-md {
    grid-column: span 5;
  }

  .col-6-md {
    grid-column: span 6;
  }

  .col-8-md {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {
  .col-2-lg {
    grid-column: span 2;
  }

  .col-3-lg {
    grid-column: span 3;
  }

  .col-4-lg {
    grid-column: span 4;
  }

  .col-5-lg {
    grid-column: span 5;
  }

  .col-6-lg {
    grid-column: span 6;
  }

  .col-8-lg {
    grid-column: span 8;
  }
}

@media (min-width: 1301px) {
  .col-2-xl {
    grid-column: span 2;
  }

  .col-3-xl {
    grid-column: span 3;
  }

  .col-4-xl {
    grid-column: span 4;
  }

  .col-5-xl {
    grid-column: span 5;
  }

  .col-6-xl {
    grid-column: span 6;
  }

  .col-7-xl {
    grid-column: span 7;
  }

  .col-8-xl {
    grid-column: span 8;
  }

  .col-9-xl {
    grid-column: span 9;
  }
}
