.playlists {
  padding: 94px 0;

  &__grid {
    position: relative;
  }

  &__title {
    margin-bottom: 12px;
    color: $dark-text;
  }

  &__genres {
    margin-bottom: 22px;
    &-title {
      display: block;
      margin-bottom: 11px;
      font-size: 16px;
      line-height: 16px;
      color: $grey-text;
    }

    &-list {
      list-style: none;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &-label {
      display: flex;
      position: relative;
      height: 26px;
      padding-left: 40px;
      align-items: center;
      font-size: 20px;
      line-height: 20px;
      color: $dark-text;
      cursor: pointer;

      input {
        display: none;
      }

      &:hover .playlists__genres-marker {
        border-color: $blue-btn;
      }

      &:focus-within .playlists__genres-marker {
        border-color: $blue-btn;
        background-color: $light-grey;
      }

      input:checked ~ .playlists__genres-marker {
        background-color: $blue-btn;
        border-color: $blue-btn;
      }

      input:checked ~ .playlists__genres-marker::after {
        display: block;
      }
    }

    &-marker {
      position: absolute;
      left: 0;
      width: 26px;
      height: 26px;
      border: 2px solid $grey-text;
      border-radius: 50%;
      transition: border-color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 5px;
        left: 5px;
        width: 12px;
        height: 12px;
        background-color: $main-color;
        border-radius: 50%;
      }
    }
  }

  &__warning {
    padding-top: 38px;
    border-top: 1px solid $grey-text;
    &-text {
      margin-bottom: 6px;
      font-size: 16px;
      line-height: 22px;
      color: $grey-text;

      span {
        display: block;
        font-weight: 300;
        font-style: italic;
      }
    }

    &-sign {
      width: 30px;
      height: 30px;
    }

    &--mobile {
      display: none;
      margin-top: 12px;
    }
  }
  &__artists {
    padding-top: 14px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    &-country {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 20px;
      padding: 2.5px 4px;
      background-color: $dark-text;
      z-index: 10;

      svg {
        width: 16px;
        height: 12px;
      }
    }

    &-img {
      position: relative;
      width: 160px;
      height: 160px;
      flex-grow: 0;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $dark-text;
        opacity: 0;
        transition: opacity 0.08s ease-in-out;
        z-index: 100;
      }
    }

    &-info {
      padding: 15px;
      flex-grow: 1;
      border: 1px solid #e6e8ec;
      transition: background-color 0.08s ease-in-out,
        border-color 0.08s ease-in-out;

      & > * {
        transition: color 0.08s ease-in-out;
      }
    }

    &-artist {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $dark-text;
    }

    &-songs {
      font-size: 12px;
      line-height: 12px;
      color: $grey-text;
    }

    &-play-btn {
      @include btn-reset;
      position: absolute;
      top: 56px;
      left: 56px;
      width: 48px;
      height: 48px;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

      svg > rect {
        display: none;
      }
    }

    &:hover &-info,
    &[data-playing="true"] &-info {
      background-color: $blue-btn;
      border-color: $blue-btn;
    }
    &:hover &-info > *,
    &[data-playing="true"] &-info > * {
      color: $main-color;
    }

    &:hover &-img::after,
    &[data-playing="true"] &-img::after {
      opacity: 0.8;
    }

    &:hover &-play-btn,
    &[data-playing="true"] &-play-btn {
      opacity: 1;
    }

    &:focus-visible &-info {
      background-color: $light-blue-btn;
      border-color: $light-blue-btn;
    }

    &:focus-visible &-info > * {
      color: $dark-text;
    }

    &:focus-visible &-img::after {
      opacity: 0.8;
    }

    &:focus-visible &-play-btn {
      opacity: 1;
    }

    &:active &-play-btn {
      opacity: 1;
    }

    &:active &-info {
      background-color: $active-color;
      border-color: $active-color;
    }

    &:active &-info > * {
      color: $main-color;
    }

    &:active &-img::after {
      opacity: 0.8;
    }

    &:active &-play-btn {
      opacity: 1;
      transform: scale(1.16);
    }
  }
}
