@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  border: none;
  cursor: pointer;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

@mixin section-title {
  font-family: "TTFirsNeue";
  font-size: 28px;
  font-weight: 700;
  line-height: 25px;
}

@mixin card-title {
  font-family: "TTFirsNeue";
  font-size: 28px;
  font-weight: 400;
}

@mixin input-reset {
  border: none;

  &:focus-visible {
    outline: none;
  }
}
@mixin input-interaction {
  &:focus {
    outline: 1px solid $input-focus-hover;
  }

  &:hover::placeholder {
    color: $input-focus-hover;
  }

  &:focus-visible {
    outline: none;
  }

  &:invalid {
    outline: 1px solid $input-invalid-color;
  }
}

@mixin hash-card-placement {
  position: absolute;
  top: 7px;
  right: 7px;
}

@mixin text-interaction {
  &:hover {
    color: $input-focus-hover;
  }

  &:focus {
    background-color: $text-focus-bg;
  }

  &:active {
    color: $text-active-color;
    background-color: transparent;
  }
}
