$main-color: #fff;
$black-cover: #202020;
$grid-gap: 30px;
$orange-btn-bg: #ff6e30;
$light-text: #cacaca;
$dark-input-bg: #4a4a4a;
$input-focus-hover: #ff6e30;
$data-color: #999999;
$light-input-bg: #e9e9e9;
$text-active-color: #ce4307;
$text-focus-bg: #bc572b;
$input-invalid-color: #ff3030;
