.footer {
  background-color: $black-cover;
  padding-bottom: 17px;
  padding-top: 23px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-bottom: 6px;

    &-wrapper {
      margin-right: 205px;
    }

    &-descr {
      color: $light-input-bg;
      font-size: 16px;
      font-weight: 400;
      font-family: "TTFirsNeue";
    }
  }

  &__descr {
    max-width: 361px;

    p {
      color: $light-text;
    }
  }

  &__socials {
    margin-left: auto;
    &-title {
      color: $light-text;
      display: block;
      margin-bottom: 8px;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
    svg {
      fill: $light-text;
      transition: fill 0.1s ease-in-out;
      &:hover {
        fill: $input-focus-hover;
      }

      &:focus {
        fill: $text-focus-bg;
      }

      &:active {
        fill: $text-active-color;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__logo {
      &-wrapper {
        margin-right: 135px;
      }
    }
  }
}

@media (max-width: 970px) {
  .footer {
    padding-bottom: 18px;
    &__logo-wrapper {
      margin: 0;
    }

    &__descr {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .footer {
    padding-bottom: 0;
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__socials {
      margin-right: auto;
      margin-bottom: 28px;
    }
    &__logo-wrapper {
      padding: 14px 0;
      background-color: $dark-input-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }
    &__logo {
      margin-bottom: 4px;
    }
    &__logo-descr {
      font-size: 12px;
    }
  }
}
