.checkbox {
  display: flex;
  align-items: center;

  width: fit-content;
  gap: rem(8px);

  cursor: pointer;

  &__input {
    display: none;
  }

  &__marker {
    position: relative;

    width: rem($checkbox-width);
    height: rem($checkbox-height);

    border: rem(1px) solid $curious-blue;
    border-radius: rem($tiny-radius);

    transition: background-color $transition-duration $transition-function;
  }

  &__icon {
    color: $white;

    opacity: 0;
    transition: opacity $transition-duration $transition-function;
  }

  &--disabled {
    cursor: default;
  }

  &__input:checked ~ &__marker {
    background-color: $curious-blue;
  }

  &__input:checked ~ &__marker > &__icon {
    opacity: 1;
  }

  &__input:disabled ~ &__marker {
    border-color: $heather;
    background-color: $athens-gray;
  }

  &__input:disabled ~ &__marker > &__icon {
    color: $heather;
  }

  &__text {
    font-size: rem($font-size-tiny);
  }
}
