.footer {
  height: rem($footer-height-mobile);
  background-color: $white;
  box-shadow: $box-shadow;

  @media ($screen-laptop) {
    height: $footer-height-desktop;
    padding: rem(31px) 0;
  }

  &__row {
    display: flex;
    flex-direction: column;

    @media ($screen-laptop) {
      flex-direction: row;
    }
  }

  &__col {
    padding: rem(20px) 0;
    &:not(:last-child) {
      border-bottom: rem(1px) solid $athens-gray;
    }

    @media ($screen-laptop) {
      padding: 0;
      &:not(:last-child) {
        border-bottom: none;
      }

      &--social {
        margin-right: rem(40px);

        @media ($screen-desktop) {
          padding-right: rem(40px);
          border-right: rem(1px) solid $athens-gray;
        }
      }

      &--menu {
        align-self: center;
      }

      &--logo {
        align-self: center;
        margin-left: auto;
      }
    }
  }

  &__logo {
    margin: 0 auto;
  }
}
