.header {
  height: rem($header-height-mobile);

  padding-top: rem(16px);

  background-color: $white;
  filter: $double-shadow;

  @media ($screen-laptop) {
    height: $header-height-desktop;

    padding: 0;
    padding-top: rem(20px) 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(17px);

    @media #{$screen-laptop} {
      column-gap: rem(50px);
    }

    @media #{$screen-desktop} {
      column-gap: rem(60px);
    }
  }

  &__col {
    &--search {
      width: 100%;
      flex-grow: 1;
      order: 1;

      @media ($screen-laptop) {
        order: 0;
        width: auto;
      }
    }
  }

  &__form {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: rem(1px);

      top: rem(-1px);
      left: rem(-20px);

      background-color: $heather;
    }

    @media ($screen-laptop) {
      &::before {
        display: none;
      }
    }
  }

  &__profile {
    padding: 0;

    border: none;

    @media #{$screen-laptop} {
      padding-left: rem(20px);

      border-left: rem(1px) solid $athens-gray;
    }
  }
}
