.menu {
  font-size: rem($font-size-tiny);
  line-height: rem($line-height-tiny);
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(12px);

    @media ($screen-laptop) {
      flex-direction: row;
      column-gap: rem(30px);
    }
  }

  &__item {
    text-align: center;
  }

  &__link {
    color: $curious-blue;
    transition: opacity $transition-duration $transition-function,
      border $transition-duration $transition-function;

    &:hover {
      border-bottom: rem(1px) solid $curious-blue;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
