.modal {
  border-radius: rem(24px);
  filter: $modal-shadow;

  &--small {
    width: rem(610px);
  }

  &--small & {
    &__section {
      @media #{$screen-laptop} {
        padding: 0 rem(120px);
      }
    }
  }

  &--centered & {
    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    height: auto !important;
    max-width: 100%;

    padding: rem(32px) 0;

    @media #{$screen-laptop} {
      padding: rem(48px) 0;
    }
  }

  &__section {
    padding: 0 rem(16px);

    &--header {
      flex-shrink: 0;
      margin-bottom: rem(24px);

      @media #{$screen-laptop} {
        margin-bottom: rem(20px);
      }
    }

    &--header-left-mobile {
      align-self: flex-start;

      @media #{$screen-laptop} {
        align-self: inherit;
      }
    }

    &--content {
      flex-grow: 1;
    }

    &-actions {
      margin-top: rem(40px);
    }
  }

  &__title {
    font-weight: $font-weight-medium;
    font-size: rem(20px);
    line-height: rem($line-height-medium);
  }

  &__form {
    width: 100%;
  }

  &__input:has(+ &__input) {
    margin-bottom: rem(40px);

    @media #{$screen-laptop} {
      margin-bottom: rem(20px);
    }
  }

  &__btn {
    width: 100%;
  }

  .fancybox {
    &-bg {
      background-color: rgba(#3a3a43, 0.55);
    }

    &-close {
      $button-offset: 12px;

      position: absolute;
      top: rem($button-offset);
      right: rem($button-offset);

      color: $curious-blue;

      cursor: pointer;
      transition: opacity $transition-duration $transition-function;

      :hover {
        opacity: 0.5;
      }

      @media #{$screen-laptop} {
        $button-offset: 20px;

        top: rem($button-offset);
        right: rem($button-offset);
      }
      &-icon {
        $icon-size: 24px;

        width: rem($icon-size);
        height: rem($icon-size);
      }
    }

    &-content {
      padding: 0;
      overflow: visible;
    }

    &-navigation {
      display: none;
    }

    &-slide {
      $modal-overlay-offset: 16px;
      padding: 0 rem($modal-overlay-offset);
    }
  }
  &--btn-out {
    .fancybox {
      &-close {
        $button-offset: -16px;

        top: rem($button-offset);
        right: rem($button-offset);

        color: $white;

        @media #{$screen-laptop} {
          $button-offset: -20px;

          top: rem($button-offset);
          right: rem($button-offset);
        }
      }
    }
  }
}
