.select {
  position: relative;

  .select2-container {
    .select2-selection {
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: rem(10px);

        display: block;

        width: rem(24px);
        height: rem(24px);
        margin: auto 0;

        content: "";
        background-image: url("../images/svg/dropdown.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

        transition: transform $transition-duration $transition-function;
      }
    }
  }

  .select2-container--default {
    .select2-selection--single {
      height: rem(50px);
      border: rem(1px) solid $athens-gray;
      background-color: $white;

      .select2-selection__rendered {
        line-height: rem(15px);
        color: $dark-color-text;
        padding: rem(17px) rem(34px) rem(17px) rem(20px);
      }

      .select2-selection__placeholder {
        display: block;
        color: $heather;
        font-size: rem($font-size-tiny);
        line-height: rem(15px);
        @include truncate-text-single-line;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }

  .select2-search--dropdown {
    display: none;
  }

  .select2-dropdown {
    background-color: $white;
    border: rem(1px) solid $slate-gray;
  }

  .select2-results > .select2-results__options {
    max-height: rem(160px);

    color: $dark-color-text;
  }

  .select2-results__option {
    padding: rem(18px) rem(20px);

    &[aria-selected="true"],
    &--highlited[aria-selected] {
      color: $bunker;
      background-color: rgba($slate-gray, 0.05);
    }
  }
  .select2-results__option--selected {
    font-weight: 700;
    color: $wild-blue-yonder !important;
    background-color: transparent;
  }

  .select2-container {
    width: 100% !important;

    &.select2 {
      &:focus {
        outline: none;
      }
    }
  }

  .select2-container--open {
    .select2-selection {
      &::after {
        transform: rotate(180deg);
      }
    }

    .select2-selection--single {
      border: rem(1px) solid $slate-gray;
      border-bottom: none;
    }
  }
}
