.social {
  &__list {
    display: flex;
    justify-content: center;
    column-gap: rem(20px);
  }

  &__link {
    display: block;

    width: rem($icon-width-big);
    height: rem($icon-height-big);

    color: $heather;
    transition: color $transition-duration $transition-function;

    &:hover {
      color: $slate-gray;
    }
  }
}
