.stats {
  display: flex;
  align-items: center;

  font-size: rem($font-size-miniture);

  &__list {
    display: flex;

    margin-left: auto;

    column-gap: rem(12px);
  }

  &__item {
    display: flex;
    align-items: center;

    column-gap: rem(6px);
  }

  &__icon {
    width: rem(13px);
    height: rem(13px);

    cursor: pointer;
  }

  &__status {
    display: none;

    margin-left: rem(5px);
    padding-left: rem(5px);

    border-left: rem(1px) solid $heather;

    @media #{$screen-laptop} {
      display: block;
    }
  }
}
