.tippy {
  &-box {
    font-weight: $font-weight-medium;
    font-size: rem($font-size-miniture);
    line-height: rem(16px);

    color: $in-the-dark;

    border-radius: rem(4px);

    box-shadow: $tooltip-shadow;
  }
}
