.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.app-list-item button:focus {
  box-shadow: none;
  outline: none;
}
.app-list-item .btn-edit {
  color: #aeaeae;
}

.app-list-item .btn-star {
  color: #aeaeae;
}
.app-list-item .btn-trash {
  color: red;
}
.app-list-item .btn-heart {
  width: 35px;
  height: 35px;
  text-align: center;
  color: #aeaeae;
  transition: 0.3s all;
}

.app-list-item-content {
  width: 70%;
  user-select: none;
}

.app-list-item-title {
  font-size: 30px;
  transition: 0.15s all ease-in-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-list-item-label {
  margin: 0;

  line-height: 35px;
  transition: 0.15s all ease-in-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-list-item.like .btn-heart {
  color: red;
}

.app-list-item.important .app-list-item-content {
  color: #ffd700;
}

.app-list-item.important .btn-star {
  color: #ffd700;
}
