.app-header {
  align-items: flex-end;
  justify-content: space-between;
}

.app-header h1 {
  max-width: 80%;
  font-size: 26px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}
