@import "../../assets/scss/_variables.scss";

.product {
  width: 100%;

  padding-bottom: 24px;

  font-family: $font-family-rubik;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;

  @media #{$screen-mobile} {
    padding-bottom: 12px;

    font-size: 9px;
    line-height: 13px;
    letter-spacing: -0.17px;
  }
}

.header {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 11px 11px 20px;
  margin-bottom: 25px;

  background-color: $white-smoke;

  @media #{$screen-mobile} {
    padding: 6px 6px 10px;
    margin-bottom: 12px;
  }
}

.pic {
  width: 100%;
  height: 300px;

  margin-bottom: 22px;

  @media #{$screen-mobile} {
    height: 170px;
    margin-bottom: 12px;
  }
}

.picImg {
  width: 100%;
  height: 100%;
}

.btn {
  gap: 8px;

  margin: 0 auto;

  font-family: $font-family-rubik;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;

  @media #{$screen-mobile} {
    gap: 4px;

    font-size: 9px;
    line-height: 13px;
    letter-spacing: -0.17px;
  }
}

.sale {
  position: absolute;
  top: 20px;
  left: 20px;

  padding: 2px 8px;

  background-color: $deep-orange;
  color: $white;

  @media #{$screen-mobile} {
    top: 11px;
    left: 11px;

    padding: 1px 4px;
  }
}

.title {
  margin-bottom: 9px;

  color: $gray;

  @media #{$screen-mobile} {
    margin-bottom: 5px;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;

  @media #{$screen-mobile} {
    gap: 8px;
  }
}

.pricePrev {
  font-weight: $font-weight-medium;
  text-decoration-line: line-through;
  line-height: 16px;

  color: #d4d4d4;
}

.priceCurrent {
  color: #121212;

  font-size: 18px;

  font-weight: $font-weight-medium;
  line-height: 26px;

  @media #{$screen-mobile} {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.2px;
  }
}

.icon {
  width: $icon-medium;
  height: $icon-medium;

  @media #{$screen-mobile} {
    width: $icon-small;
    height: $icon-small;
  }
}
