@media (max-width: 1050px) {
  .header__logo {
    margin: 0;
  }

  .header__nav {
    margin: 0 auto;
  }

  .header__tel {
    display: none;
  }

  .footer__list-wrapper:first-child {
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  .header__nav-item:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 800px) {
  .header__nav {
    margin: 0;
    margin-left: auto;
  }

  .header__contacts {
    display: none;
  }
}

@media (max-width: 740px) {
  body {
    background-image: none;
  }

  .header {
    z-index: 100;
    width: 100%;
    position: fixed;
    padding: 17px 0;
    background-color: var(--bg-color);
  }

  .header__logo {
    display: none;
  }

  .header__nav {
    padding: 0;
    margin: 0 auto;
  }

  .header__nav-item:last-child {
    display: none;
  }

  .header__nav-list {
    text-transform: uppercase;
  }

  .main {
    padding-top: 98px;
    padding-bottom: 59px;
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main__left {
    margin-bottom: 47px;
  }

  .main__consultation {
    padding: 0;
    width: 360px;
  }

  .main__consultation-title {
    margin-bottom: 18px;
  }

  .main__consultation-title span {
    text-transform: lowercase;
  }

  .main__consultation-services {
    margin: 0;
    padding-left: 17px;
  }

  .main__consultation-service {
    position: relative;
  }

  .main__consultation-service::before {
    content: "";
    position: absolute;
    top: 48%;
    left: -15px;
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }

  .main__consultation-service:not(:nth-last-child(-n + 2)) {
    margin-bottom: 10px;
  }

  .main__consultation-service:nth-child(odd) {
    margin-right: 9px;
  }

  .main__consultation-title,
  .main__consultation-service-title {
    text-align: start;
  }

  .main__consultation-service-title {
    margin: 0;
  }

  .main__consultation-btn,
  .main__consultation-service-descr {
    display: none;
  }

  .footer {
    padding-top: 36px;
    padding-bottom: 60px;
    background-color: var(--bg-color);
  }

  .footer__menu {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .footer__list-wrapper:first-child {
    margin-right: 0;
  }

  .footer__list-wrapper:not(:last-child) {
    margin-bottom: 28px;
  }

  .footer__list-wrapper:last-child {
    margin-left: 0;
  }

  .footer__list-wrapper-contacts {
    text-align: start;
  }

  .footer__info-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .footer__list-title {
    margin-bottom: 21px;
  }

  .footer__contacts-list {
    align-items: flex-start;
  }

  .footer__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__icon:not(:last-child) {
    margin-right: 15px;
  }

  .footer__copyright {
    margin-left: 0;
    text-align: start;
  }
}

@media (max-width: 500px) {
  .header__nav-item:not(:last-child) {
    margin-right: 17px;
  }

  .header__nav-list {
    font-size: 12px;
  }

  .main__wrapper {
    align-items: flex-start;
  }

  .main__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 43px;
  }

  .main__consultation {
    width: 275px;
  }

  .main__consultation-service:last-child {
    flex-grow: 1;
  }

  .main__consultation-service-title {
    font-weight: 400;
    font-size: 14px;
  }

  .main__consultation-title span {
    font-weight: 500;
  }

  .footer__list-title {
    font-size: 15px;
  }

  .col2-list .footer__info-item {
    max-width: 125px;
  }

  .footer__info-list {
    font-size: 14px;
    line-height: 18px;
  }

  .footer__contacts-list {
    font-size: 14px;
  }
}
