.about-us {
  &__wrapper {
    max-width: rem(620px);
  }

  &__title {
    margin-bottom: rem(20px);

    @media #{$screen-laptop} {
      margin-bottom: rem(30px);
    }

    @media #{$screen-desktop} {
      margin-bottom: rem(26px);
    }
  }

  &__sub-title {
    margin-bottom: rem(10px);
  }

  &__text {
    font-size: rem($font-size-tiny);
    line-height: rem($line-height-tiny);
  }

  &__show-more {
    margin-top: rem(10px);
  }
}
