.profile {
  position: relative;

  &--hidden > &__info > &__avatar,
  &--hidden > &__info > &__name {
    display: none;
  }

  &__link {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: rem(10px);
  }

  &__link:hover ~ &__info & {
    &__name {
      color: $bunker;
    }
  }

  &__name {
    display: none;
    transition: color $transition-duration $transition-function;

    @media ($screen-laptop) {
      display: block;
      max-width: rem(80px);

      font-size: rem($font-size-tiny);
      line-height: rem($line-height-tiny);
      color: $slate-gray;

      @include truncate-text-single-line;
    }
  }

  &__avatar {
    display: none;

    width: rem($header-avatar-width);
    height: rem($header-avatar-height);

    border-radius: 50%;

    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
    }

    @media #{$screen-laptop} {
      display: block;
    }
  }

  &__icon {
    width: rem($icon-width-meduim);
    height: rem($icon-height-meduim);

    color: $curious-blue;

    @media #{$screen-laptop} {
      display: none;
    }
  }
}
