.login {
  width: 80%;

  padding: 30px;
  margin: 0 auto;
  margin-top: calc(50vh - 160px);

  border-radius: 10px;
  background-color: #fff;
}

.login__form {
  display: flex;
  flex-direction: column;

  max-width: 500px;

  margin-top: 20px;
  gap: 20px;
}

.login__input {
  height: 40px;

  padding: 0 20px;

  border: 1px solid #ced4da;
  border-radius: 10px;

  background-color: #eaf5fc;
}

.login__input--error {
  border-color: red;
}

.login__error {
  margin-top: -15px;
  font-size: 14px;
  padding-left: 10px;
  color: red;
}

.login__btn {
  width: fit-content;
}

.login__text {
  margin: 0;
  margin-top: 15px;
}

.login__link {
  color: #80bdff;
  font-weight: 500;
}
